<div class="header">
      <div class="container">
        <h1>Kopi Luwak</h1>
        <p>The secret of DELICIOUS coffee</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Farming Luwaks", history_path %></li> 
          <li><%= link_to "Coffee", coffee_path %></li>
           <li><%= link_to "Comment", messages_path %></li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
</div>
    
<div class="container">
  <h1>History of Kopi Luwak Coffee</h1><br>
    <p>Kopi Luwak Coffee is a high quality coffee, processed by the Asian Palm Civet.</p><br>
    <p><h2>Nowadays it’s produced in Indonesia, the Philippines and Vietnam. In Vietnam it’s called “Weasel Coffee” and in the Philippines they call it “Civet Coffee”</h2><p><br>
      <p>The raw coffee beans are eaten by Asian Palm Civets. These are little animals living in the forests of southeast asia.
In these civets, special enzymes remove the bitterness of the coffee beans which results in a smooth tasting, not-bitter, rich tasting, high quality coffee. Because of that the coffee has it’s unique flavor.</p><br />

<div class="container_fluid">
  <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2014/9/18/1411054191048/6e9c497b-1da8-49ff-ae14-81856424606e-2060x1236.jpeg?w=620&q=85&auto=format&sharp=10&s=2b810f05b87c92a67cae9e43b237b93d" alt="Civet cat">
</div>

    <p>The name comes from the native language of Indonesia: “Kopi” means “Coffee” and “Luwak” means “Asian Palm Civet”.</p><br />
    <p>It’s also called “Civet Coffee” (in the Philippines) and “Weasel Coffee” (in Vietnam).</p><br />
<div class="container_fluid">
  <img src="http://media.npr.org/assets/img/2013/09/02/89740957_wide-10b7e4f3c1daad8ac411a746a5ab4ca637da4b74-s300-c85.jpg" alt="Civet cat">
</div>

    <p>Bali, Sumatra and Jakarta were the places where the coffee came up first.
In the Indonesian colonial times, the dutch harvested the coffee beans of the plantations. The farmers weren’t allowed to harvest them themselves. So they didn’t have a product to sell anymore. These were hard times for the farmers, so they started collecting the coffee beans, they found on the floor (in the droppings of the Asian Palm Civets).</p><br />

<div class="container_fluid">
  <img src="http://2.bp.blogspot.com/-pvR9OdVfUgw/TqdcL-eBKGI/AAAAAAAABbI/1giMdSqW-_A/s1600/civet-cat0311.jpg" alt="Civet cat" >
  </div>
    <p>That’s how the farmers found out that the coffee tasted better than the “normal” coffee, they usually drank.</p><br />
    <p>In the late 20th century and in the early 21st century, this type of coffee became more and more popular in western countries and nowadays it is consumed by many gourmets around the globe.</p>
</div>
<div class="footer">
      <div class="container">
        <p>&copy; Kopi Luwak International</p>
      </div>
    </div>

