<div class="header">
      <div class="container">
        <h1>Kopi Luwak</h1>
        <p>The secret of DELICIOUS coffee</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
          <li>Home</li>
          <li><%= link_to "Farming Luwaks", history_path %></li> 
          <li>Coffee</li>
          <li>Comment</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    
<div class="container">
  <h1>History of Kopi Luwak Coffee</h1><br>
    <p>Kopi Luwak Coffee is a high quality coffee, processed by the Asian Palm Civet.</p><br>
    <p><h2>Nowadays it’s produced in Indonesia, the Philippines and Vietnam. In Vietnam it’s called “Weasel Coffee” and in the Philippines they call it “Civet Coffee”</h2><p><br>
      <p>The raw coffee beans are eaten by Asian Palm Civets. These are little animals living in the forests of southeast asia.
In these civets, special enzymes remove the bitterness of the coffee beans which results in a smooth tasting, not-bitter, rich tasting, high quality coffee. Because of that the coffee has it’s unique flavor.</p>
</div>