    <div class="header">
      <div class="container">
        <h1>Thank you for signing up. We'll keep you posted.</h1>
       
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Kopi Luwak International</p>
      </div>
    </div>
